body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}
.pass{
    width: 100%;
    height: 200px;
    background: linear-gradient(135deg, #f0c27b, #4b1248);
    color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    position: relative;
}
.left{
    width: 50%;
    float: left;
    padding: 20px;
    color:linear-gradient(135deg, #f0c27b, #4b1248);
}