body {
  background: #cbc1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.human {
  position: relative;
  width: 120px;
}

.head {
  width: 80px;
  height: 80px;
  background: #f3decd;
  border-radius: 50%;
  margin: 0 auto;
  position: relative;
  top: 0;
}

.hair {
  width: 100%;
  height: 30px;
  background: #080807;
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 0;
  left: 0;
}

.eye {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
  position: absolute;
  top: 30px;
}

.eye.left {
  left: 20px;
}

.eye.right {
  right: 20px;
}

.nose {
  width: 6px;
  height: 16px;
  background: #a56b46;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px;
}

.mouth {
  width: 40px;
  height: 10px;
  background: rgb(131, 64, 64);
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: 10px;
  left: 20px;
}
.neck {
  width: 20px;
  height: 20px;
  background: #cfb69c;
  margin: 0 auto;
}

.torso {
  width: 100px;
  height: 100px;
  background: #0b3b0d;
  box-shadow: 0 0 10px 10px rgba(44, 173, 199, 0.5);
 
  margin: 0 auto;
  position: relative;
}

.buttons {
  position: absolute;
  left: 45px;
  top: 10px;
  height: 80px;
  width: 10px;
  box-shadow: 0px 0px 10px 10px rgba(44, 173, 199, 0.5);
  border-radius: 50px;
  background: repeating-linear-gradient(
    to bottom,
    #060606 0px,
    #271d1d 5px,
    transparent 5px,
    transparent 15px
  );
}

.pocket {
  width: 20px;
  height: 20px;
  background: rgb(173, 107, 107);
  position: absolute;
  right: 10px;
  top: 10px;
  border: 1px solid #000;
}

.belt {
  width: 110px;
  height: 10px;
  box-shadow: 0px 0px 10px 10px rgba(109, 173, 186, 0.5);
  background: #0a0a0a;
  position: absolute;
  left:4px;
  
}

.arms {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100%;
}

.arm.left,
.arm.right {
  position: absolute;
  top: 0;
  width: 80px;
  height: 20px;
  background: #010e17;
}

.arm.left {
  left: -70px;
  transform: rotate(100px);
}

.arm.right {
  right: -70px;
  transform: rotate(0deg);
}

.hands {
  position: absolute;
  top: 110px;
  left: -0;
  width: 100%;
}

.hand.left,              
.hand.right {
  position: absolute;
  width: 30px;
  height: 20px;
  background: #ed974b;
}

.hand.left {
  left: -100px;
}

.hand.right {
  right: -100px;
}



.legs {
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
}

.leg {
  width: 20px;
  height: 80px;
  background: #043542;
}



 .feet {
  display: flex;
  /* justify-content: space-around;
   */
}
.foot {
  width: 30px;
  height: 20px;
  background: #9f1818;
} 
 .feet {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}

.foot {
  width: 30px;
  height: 20px;
  background: #060606;
  margin-top: 0;
}
